<div class="flex justify-center">
  <%= form_with(model: [:admin, @product], local: true) do |f| %>
    <div class="mb-4 flex flex-col">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="flex flex-col mb-4">
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01 %> 
    </div>

    <div class="flex flex-col mb-4">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="flex flex-col mb-4">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="flex flex-col mb-4">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
        <div class="flex items-center">
          <%= box.check_box class: "mr-8" %>
          <%= box.label %>
        </div>
      <% end %>
    </div>
    
    <div class="">
      <%= f.submit class: "btn" %>
    </div>
  <% end %>
</div>