<div class="grid grid-cols-3 justify-items-center text-center mx-40">
<% @products.each do |product| %>
  <div class="my-4 border border-gray-300 p-4">
    <%= link_to product_path(product) do %>
      <%= image_tag product.image, size: "300x300", class: "border border-slate-800 rounded-md transform transition-all duration-500 hover:scale-105 mb-2" %>
      <%= product.name %>
      <p class="flex justify-start text-red-600"><%= number_to_currency(product.price) %></p>
      <% end %>
    <% if current_user && current_user.admin? %>
      <div class="flex justify-between">
        <%= link_to 'Edit', edit_admin_product_path(product)  %>
        <%= button_to 'Delete', admin_product_path(product), method: :delete, data: { turbo_confirm: "Are you sure?" }%>
      </div>
    <% end %>
  </div>
<% end %>
</div>