<%= render 'shared/lionheart_image'%>
<div class="link text-4xl flex justify-center mb-4 mt-16">
  <p> <%= link_to "Browse all categories", categories_path %> </p>
</div>
<%= render 'shared/categories' %>
 

<div class="link text-4xl flex justify-center mb-4 mt-16">
  <p class="mb-8"> <%= link_to "View all blog posts", posts_path %> </p>
</div>
<%= render 'shared/posts' %>