<div class="">
  <div class="flex justify-center mb-4 text-4xl">
    <p> <%= link_to "Create new category", new_admin_category_path, class: "link text-blue-500" %> </p>
  </div>

  <div class="grid grid-cols-3 justify-items-center text-center mx-40">
    <% @categories.each do |category| %>
      <div class="my-4 ">
        <%= link_to admin_category_path(category) do %>
          <% if category.image.attached? %>
            <%= image_tag category.image, size: "300x300", class: "border border-slate-800 rounded-md transform transition-all duration-500 hover:scale-105 mb-2" %>
          <% else %>
            <%= image_tag "/shared/images/backup_logo.jpg", size: "300x300" %>
          <% end %>
          <div class="flex justify-between">
          <%= category.name %>
          <%= link_to 'Edit', edit_admin_category_path(category)  %>
          <%= button_to 'Delete', admin_category_path(category), method: :delete, data: { turbo_confirm: "Are you sure?" }%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>