<div class="flex justify-center">
  <%= form_for @product do |f| %>
    <div class="flex flex-col">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="flex flex-col">
      <%= f.label :categories %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
        <div class="flex items-center">
          <%= box.check_box class: "mr-8" %>
          <%= box.label %>
        </div>
      <% end %>
    </div>

    <%# accepts_nested_attributes_for :categories %>
    <details class="collapse bg-base-200">
      <summary class="collapse-title text-xl font-medium">Add new Category</summary>
      <div class="collapse-content"> 
        <p>
          <div class="flex flex-col">
            <%= f.fields_for :categories, Category.new do |category_fields| %>
              <%= category_fields.text_field :name %>
            <% end %>
          </div>
        </p>
      </div>
    </details>

    <div class="btn mt-4">
      <%= f.submit %>
    </div>
  <% end %>
</div>